.leaflet-tooltip{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
 @page {
   size: landscape;
   margin: 9mm 0mm 0mm 16.5mm;  
    }

    
  @media print{
  	#map{
  		top: 15%;
  	}

  }


#mapcontainer{
display:none;
}
#datatablecontainer{
display:none;
}

#buttons_country{
	margin-bottom: 20px;
	float: right;
}

#mapaspdf{
display: none;
}

#countryinfo{
display: none;
}

#datatablecontainer td{
  background-color: #00B5AD!important;
}

.low {
	z-index:2;
}

.high {
	z-index:1;
}
